@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  background-color: #F2F2F2;
  color: #000;
}

.main__container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

.visually-hidden {
  display: none;
}

.header {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  height: 64px;
  margin: 0 auto;
  padding: 0 70px;
  z-index: 5;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__menu {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.nav__logo {
  margin-right: 40px;
}

.link_nav {
  text-decoration: none;
  color: #000;
}

.header__actions {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.header__action {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.btn {
  background-color: #756157;
  text-decoration: none;
  color: #FFF;
  border-radius: 4px;
  text-transform: uppercase;
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 160px;
  box-sizing: border-box;
  white-space: nowrap;
  margin: 0 auto;
  padding: 8px 50px;
}

.hero {
  background-image: url(../images/sedona_background.jpg);
  width: 1200px;
  height: 485px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.hero__wellcome {
  display: block;
  margin: 51px auto 82px auto;
}

.header__about {
  background-color: #FFF;
  display: flex;
  width: 1200px;
  padding: 69px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.header__about_title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  width: 620px;
  height: 72px;
  text-align: center;
}

.header__about_subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333;
  margin: 0;
}

.about__features {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.about__feature {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about__feature_highlight {
  background-color: #82B3D3;
  color: #FFF;
  display: flex;
}

.about__feature_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 103px 85px;
  gap: 60px;
}

.about__feature_transparent {
  background-color:rgba(131, 179, 211, 0.20);
}

.about__feature_bg {
  background-color: rgba(131, 179, 211, 0.12);
}

.about_subtitle {
  color: #333;
}

.about__features_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  height: 56px;
  margin: 0;
  text-align: center;
}

.about__features_subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  width: 230px;
  height: 63px;
  margin: 0;
}

.header__advantages {
  background-color: #FFF;
  display: flex;
  width: 1200px;
  padding: 64px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header__advantages_title {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  width: 505px;
  height: 72px;
  text-align: center;
}

.header__advantages_subtitle {
  color: #333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

.advantages__options {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__option {
  display: flex;
  width: 230px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 80px 85px;
}

.advantages__option:nth-child(1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__option:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__option_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.advantages__option_subtitle {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  text-align: center;
}

.search {
  background-color: #FFF;
  display: flex;
  padding: 96px 304px;
  flex-direction: column;
}

.search__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  text-align: center;
}

.search__subtitle {
  color: #333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 54px 0;
  text-align: center;
}

.search__button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  padding: 8px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 375px;
  box-sizing: border-box;
  white-space: nowrap;
  margin: 0 auto;
}

.newsletter {
  background-image: url(../images/subscribe_background.jpg);
  background-repeat: no-repeat;
  width: calc(1200px - 258px * 2);
  height: calc(414px - 96px - 104px);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 96px 258px 104px 258px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter__title {
  color: #FFF;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  text-align: center;
}

.newsletter__subtitle {
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 0 54px 0;
}

.newsletter__button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #82B3D3;
}

.newsletter__catalog-bg {
  background-image: none;
  background-color: #FFF;
}

.newsletter__catalog {
  color:#000;
}

.footer {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1060px;
  padding: 40px 70px 30px 70px;
}

.footer__socials_list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 142px;
  height: 40px;
  align-items: center;
  gap: 27px;
}

.footer__contacts_link {
  font-family: "PT Sans";
  font-style: normal;
  color: #000;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__contacts_link:hover {
  color: #756157;
}

.footer__contacts_link:focus {
  color: #756157;
}

.footer__contacts_link:active {
  color: rgba(117, 97, 87, 0.30);
}

.hotels {
  background-image: url(../images/catalog/catalog_background.jpg);
  width: 1060px;
  height: 307px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 35px 70px 70px 70px;
  align-items: flex-start;
  margin: 0;
}

.hotels__title {
  color: #FFF;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs__navigation {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 8px 0 40px 0;
}

.breadcrumbs__link {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
}

.filter__forms {
  display: flex;
  justify-content: space-between;
}

.filter__infrastructure {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.filter__house {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 70px;
}

.filter__price {
  margin: 0 0 0 140px;
}

.filter__buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 0 0 70px;
}

.filter__infrastructure_legend {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.filter__infrastructure label {
  color: var(--basic-white, #FFF);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.filter__house_legend {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.filter__house label {
  color: var(--basic-white, #FFF);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.filter__price_legend {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog {
  background-color: #FFF;
}

.catalog__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  margin: 0;
}

.sort {
  display: flex;
  align-items: center;
}

.view {
  display: flex;
  align-items: center;
  margin: 0 70px 0 0;
}

.view__list {
  display: flex;
  list-style: none;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  list-style: none;
  margin: 40px 70px 40px 70px;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  gap: 16px;
  padding: 20px;
  box-sizing: border-box;
  width: 340px;
}

.catalog__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 0 70px;
}

.filter__button_apply {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  background-color: #82B3D3;
}

.filter__button_reset {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: transparent;
}

.sort__select {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.catalog__hotel_name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.catalog__hotel_price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.details__button {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.favorites__button {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #82B3D3;
}

.catalog__hotel_raiting {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #F2F2F2;
}

.btn__active {
  background-color: #7DB54F;
}

.pagination {
  display: flex;
  padding: 40px 70px 60px 70px;
  background-color: #FFF;
}

.pagination__items {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #82B3D3;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 4px;
  width: 60px;
  height: 60px;
}

.pagination__item-first {
  background-color: #F2F2F2;
}

.pagination__link {
  text-decoration: none;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination__link-first {
  color: #000;
}

.pagination__points {
  background-color: #FFF;
  color: #000;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}
